* {
  font-family: 'Nunito', sans-serif;
}

html {
  background-color: #0A2240;
  height: 100%;
  width: 100%;
}

.header {
  font-size: 100px;
  flex: 70%;
  background: #004B98;
  padding: 50px;
  color: white;
}

.box {                /* Both box commands create and update the selection form menu for product and location */
  position: absolute;
  top: 450px;
  left: 300px;
  transform: translate(-50%, -50%);
}

.box select {
  border-radius: 30px;
  background-color: #004B98;
  color: white;
  padding: 40px;
  width: 300px;
  border: none;
  font-size: 25px;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.4);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 20;
  height: 100%;
  text-align: center;
  font-size: 20px;
  color: rgba(255, 2555, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.4);
}

.box select option {
  border-radius: 30px;
  padding: 30px;
}

.box2 {
  position: absolute;
  top: 450px;
  left: 800px;
  transform: translate(-50%, -50%);
}

.box2 select {
  border-radius: 30px;
  background-color: #004B98;
  color: white;
  padding: 40px;
  width: 300px;
  border: none;
  font-size: 25px;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.4);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box2::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 20;
  height: 100%;
  text-align: center;
  font-size: 20px;
  color: rgba(255, 2555, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  pointer-events: none;
}

.box2:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.4);
}

.box2 select option {
  border-radius: 30px;
  padding: 30px;
}

.line {                             /* Cosmetically used to seperate space between selection and order confirmation */
  position: fixed;
  top: 20%;
  bottom: 0;
  left: 65%;
  width: 2px;
  height: 200%;
  background: transparent;
  border-left: dotted 2px #004B98;
  transform: translateX(-50%);
}

.white-box {
  position: absolute;
  top: 30%;
  right: 4%;
  width: 500px;
  height: 600px;
  background-color: #ebeff5;
  border-radius: 30px;
}

.selection1 {               /* Created boxes for selection 1 and 2, that will display on the side the selection you chose from the boxes for product and locatiom */
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #004B98;
  color: white;
  font-size: 20px;
  border-radius: 30px;
  padding: 30px;
}

.selection2 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #004B98;
  color: white;
  font-size: 20px;
  border-radius: 30px;
  padding: 30px;
}

.product {                         /* Displays product and location texts "You want to send: and "To:" */
  position: absolute;
  top: 15%;
  left: 20%;
  font-size: 25px;
  color: #0A2240;
}

.location {                
  position: absolute;
  top: 40%;
  left: 20%;
  font-size: 25px;
  color: #0A2240;
}

.order {
  color: #fff;
  position: absolute;
  top: 80%;
  left: 28%;
  display: inline-block;
  background-color: #E1261C;
  text-decoration: none;
  padding: 20px 50px;
  border: 3px solid #E1261C;
  border-radius: 30px;
}

.order:hover {
  animation: pulsate 1s infinite;   /* The purpose of infinite is to ensure the glowing animation does not fade out during hover */
}

@keyframes pulsate {
  0% {
    box-shadow:
      0 0 55px #c72118,
      0 0 100px #fff;
  }

  100% {                          /* Added later to make sure the infinite animation would apply */
    box-shadow:
      0 0 55px #c72118,
      0 0 100px #fff;
  }
}
